services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: product_dashboard_app
    volumes:
      - .:/var/www/html
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: product_dashboard_db
    environment:
      POSTGRES_DB: product_dashboard
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
